{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}インフォ{% endblock %}

{% block body_block %}

<p>こんにちは、サイト名の管理人です。</p>

<p>このサイトは平たく言うと、劣化ようつべです。<br>差別化するために、ゲーム音楽に特化したツールを搭載していきたいと思います。</p>

<p>こちらのサイトでユーザー登録をして頂くと、お気に入り登録などの機能が使えるようになり、<br>利便性が増します。</p>

<p>ちなみに登録しなくても、ゲーム音楽の快適な検索ツールとして使えるのでご安心ください。</p>

<p>掲載されている音楽は管理人の私的な趣味に偏っているので、<br>ご要望などがあればログインし、リクエストにてご連絡ください。</p>

<p>そのうち、ニコニコとかにも対応する予定です。多分。</p>

<p>気に入ったBGMを見つけたら、迷わず密林へ行ってサントラをポチってくださいね。<br>共に次回作の養分となりましょう！</p>

<p>その気になったらサントラのアフィとか貼るかもしれません。<br>面倒臭いしアクセス数が少ないのでまだしませんが。</p>

{% endblock %}