{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}タグ検索{% endblock %}

{% block body_block %}

{% if tags %}
    {% for tag in tags %}
        <form action="/video/search/" method="post">
            {% csrf_token %}
            why
            {{ tag.video_id }}
            {{ tag.name }}
            <a href="javascript:;" onclick="parentNode.submit();">{{ tag }}</a>
            <input type="hidden" name="tagid" value={{ tag.video_id }} />
        </form>
    {% endfor %}
{% else %}
    <p>There are no tags</p>
{% endif %}

{% endblock %}